*{
    
    box-sizing: border-box;
   
}

.container{
   max-width: 400px;
margin: 10vh auto 0 auto;
box-shadow: 0px 0px 43px 17px rgba(153, 153, 1153, 1);
background-image: linear-gradient(to top left, rgb(250, 83, 83) 20%, rgb(83, 83, 245) 50%, rgb(249, 109, 109) 100%);
}

#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: rgb(57, 57, 57);
    color: white;
    border: 3px solid white;
}
.buttons{
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    ;
}
.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999
}

.button{
    border: 0.5 solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    
}
#equal{
    background-color: rgb(81, 81, 255);
}
#equal:hover{
    background-color: rgb(184, 199, 194);
}


.button:hover{
    background-color: rgb(168, 168, 255);
    transition: 0.25s ease-in-out
}